@import '../../style/mixins/page-padding.scss';
@import '../../style/variables.scss';

.album-view {
  .album-title {
    text-align: center;
  }

  .edit-segment {
    @include page-padding(0);
  }

  .images-grid-wrapper {
    padding: $padding-large 0;
  }
}

.ui.modal > .content > .modal-image img {
  max-width: 100%;
}
