@import '../colors.scss';
@import '../variables.scss';

@mixin tag {
  color: $_color-alabaster;
  border-radius: $default-border-radius;
  margin: 0 $padding-normal;
  padding: 0 $padding-normal;
  font-style: italic;
  font-weight: normal;
  font-size: $font-size-x-small;
  @content;
}
