@import '../../style/mixins/responsive-breakpoints.scss';
@import '../../style/mixins/page-padding.scss';
@import '../../style/variables.scss';

.header {
  .links-wrapper {
    @include page-padding($padding-x-small);

    display: flex;
    justify-content: flex-end;
  }

  .ui.menu.navigation-menu-sm {
    @include for-lg {
      display: none;
    }

    .ui.image.logo {
      display: flex;
      align-items: center;
    }
  }

  .ui.menu.navigation-menu-lg {
    display: none;
    min-height: 4rem;

    @include page-padding(0);

    @include for-lg {
      display: flex;
    }

    .item {
      &.item-wrapper-for-logo,
      &.item-wrapper-for-logo.active,
      &.item-wrapper-for-logo:hover {
        border-bottom: none;
      }

      & > img.logo:not(.ui):only-child {
        width: 6rem;
      }
    }
  }

  .ui.breadcrumbs {
    @include page-padding($padding-normal);
  }
}
