//names from http://chir.ag/projects/name-that-color/
@import './gradients.scss';

/* private variables */
// gray
$_color-alabaster: #fafafa;
$_color_shark: #222426;
// green
$_color-pine-glade: #accf83;
// yellow
$_color-tango: #f37721;

/* SEMANTIC-UI MENU */
$semantic-ui-menu-border: rgba($_color_shark, 0.15);
$semantic-ui-active-item-border: $instagram-gradient;
