:focus {
  outline: none;
}

// Disable Blue Highlight when Touch/Press object with Cursor:Pointer
* {
  -webkit-tap-highlight-color: transparent;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
