@import './variables.scss';
@import './colors.scss';
@import './mixins/tag.scss';

:focus {
  outline: none;
}

// Disable Blue Highlight when Touch/Press object with Cursor:Pointer
* {
  -webkit-tap-highlight-color: transparent;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-album {
  @include tag {
    background-color: rgba($_color-pine-glade, 0.9);
  }
}

.tag-category {
  @include tag {
    background-color: rgba($_color-tango, 0.9);
  }
}
