<p>
  Привет, мы Катя и Паша - команда Nphotos. Но мы не просто команда, мы семья ❤️
  Пока мы живём и фотографируем в городе Саратов. Но очень любим путешествия,
  новые знакомства и возможности, поэтому география наших работ может и будет
  расширяться!
</p>
<p>
  Нам очень нравится то, как мы видим мир, какой он потрясающий и хотим делиться
  с вами этим!
</p>
<p>
  Катя-фотограф, все кадры, которые вы увидите в нашей галерее, сделала именно
  она. Видеть в каждом человеке прекрасное и показывать всем- вот что по
  настоящему важно! Больше эмоций, и вас самих, искренность- вот что хочет
  донести до вас автор. Прошла обучения у Дарьи Булавиной, Елены Карнеевой,
  много разных вебинаров по фотографии изучила и продолжает учиться, чтобы
  делать ваши фотографии самыми лучшими, запоминающимися!
</p>
<p>
  Павел - создатель этого сайта. А так же идейный вдохновитель, наставник и
  учитель! Именно он начал учить Катю азам фотографии и обработки.
</p>

<p>Много можно писать про нас, но лучше лично познакомиться на съёмке!</p>
<p>Ждём вас, чтобы заснять ваши лучшие моменты ❤️</p>
