@import '../../../style/colors.scss';

.ui.list > .item {
  &.category-short {
    display: flex;

    img.image + .content {
      display: flex;
      align-items: center;

      &:hover {
        color: $hover-link;
      }
    }
  }
}
