@import '../../style/mixins/responsive-breakpoints.scss';
@import '../../style/variables.scss';

.contacts-view {
  &.ui.grid {
    padding: $padding-normal $padding-small-content;

    @include for-lg {
      padding: $padding-normal $padding-large-content;
    }
  }

  .ui.card {
    margin: 0;
    box-shadow: none;
  }
}
