<h2>Индивидуальная съёмка</h2>
<ul>
  <li>
    <b>Light</b> - 3500 р 1 час ( включает в себя: помощь в подборе образа,
    локации, отдаются 10-15 фото в ретуши и все исходники, но исходники следует
    выкладывать после тех, что обработанные) визажист, стилист и аренда студии
    или другой локации не входит в стоимость.
  </li>
  <li>
    <b>Middle</b> - 5000 р 1 час ( включает в себя: помощь в подборе образа,
    локации, работа визажиста, отдаются 10-15 фото в ретуши и все исходники, но
    исходники следует выкладывать после тех, что обработанные) стилист и аренда
    студии или другой локации не входят в стоимость.
  </li>
  <li>
    <b>All inclusive</b> - 10 000 р ( включает в себя: помощь в подборе образа,
    локации, работа стилиста, визажиста, аренда студии)отдаются 10-15 фото в
    ретуши и все исходники, но исходники следует выкладывать после тех, что
    обработанные)
  </li>
</ul>

<h2>Семейная съёмка</h2>
<p>
  5000 рублей 1,5 часа ( включает в себя: помощь в подборе образа, локации,
  отдаются 10-15 фото в ретуши и все исходники, но исходники следует выкладывать
  после тех, что обработанные) стилист, визажист, аренда студии или другой
  локации не входит в стоимость.
</p>

<h2>Love story</h2>
<p>
  5000 рублей 1,5 часа ( включает в себя: помощь в подборе образа, локации,
  отдаются 10-15 фото в ретуши и все исходники, но исходники следует выкладывать
  после тех, что обработанные) стилист, визажист, аренда студии или другой
  локации не входит в стоимость.
</p>

<h2>Свадьба</h2>
<p>
  3500 р 1 час. Съёмка от 3 часов. Банкетная часть не входит в стоимость. (
  включает в себя: помощь в подборе образа, локации, отдаются 20-50 фото в
  ретуши) стилист, визажист, аренда студии или другой локации не входит в
  стоимость.
</p>

<h3>Правила</h3>
<ul>
  <li>Фотографии отдаются в течение 1,5 месяцев</li>
  <li>Если фото нельзя публиковать - дополнительная плата 1000р</li>
  <li>
    Если хотите больше фото в обработке, то каждая последующая фотография + 500
    рублей
  </li>
  <li>
    Не допускается использовать на фотографии, сделанные мной, пресеты или
    другие способы редактирования фото
  </li>
  <li>Предоплата 50%</li>
</ul>
