<h2>Индивидуальная съёмка</h2>
<ul>
  <li>
    <b>Light</b> - 3500₽ - 1 час
    <ul>
      <li>Помощь в подборе образа, локации</li>
      <li>
        Отдаются 10-15 фото в ретуши и все исходники (исходники следует
        выкладывать после тех, что обработанные)
      </li>
    </ul>
  </li>
  <li>
    <b>Middle</b> - 5000₽ - 1 час
    <ul>
      <li>Все опции 'Light'</li>
      <li>Работа визажиста</li>
    </ul>
  </li>
  <li>
    <b>All inclusive</b> - 10 000₽ - 1 час
    <ul>
      <li>Все опции 'Middle'</li>
      <li>Работа стилиста</li>
      <li>Аренда студии</li>
    </ul>
  </li>
</ul>

<h2>Семейная съёмка</h2>
<p>
  5000₽ - 1,5 часа
</p>
<ul>
  <li>Помощь в подборе образа, локации</li>
  <li>
    Отдаются 10-15 фото в ретуши и все исходники (исходники следует выкладывать
    после тех, что обработанные)
  </li>
</ul>
<p>
  <b>Не входит в стоимость:</b> стилист, визажист, аренда студии или другой
  локации
</p>

<h2>Love story</h2>
<p>
  5000₽ - 1,5 часа
</p>
<ul>
  <li>Помощь в подборе образа, локации</li>
  <li>
    Отдаются 10-15 фото в ретуши и все исходники (исходники следует выкладывать
    после тех, что обработанные)
  </li>
</ul>
<p>
  <b>Не входит в стоимость:</b> стилист, визажист, аренда студии или другой
  локации
</p>

<h2>Свадьба</h2>
<p>
  3500₽ - 1 час
</p>
<ul>
  <li>Съёмка от 3 часов</li>
  <li>Помощь в подборе образа, локации</li>
  <li>Отдаются 20-50 фото в ретуши</li>
</ul>
<p>
  <b>Не входит в стоимость:</b> банкетная часть, стилист, визажист, аренда
  студии или другой локации
</p>

<h3>Наши Правила</h3>
<p>Фотографии отдаются в течение 1,5 месяцев.</p>
<p>Если фото нельзя публиковать - дополнительная плата 1000р.</p>
<p>
  Если хотите больше фото в обработке, то каждая последующая фотография -500
  рублей.
</p>
<p>
  Не допускается использовать на фотографиях: пресеты или другие способы
  редактирования фото.
</p>
<p>Предоплата 50%.</p>
